name: Train Discount Model CI/CD

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  train:
    runs-on: ubuntu-latest
    permissions:
      contents: write   # REQUIRED for creating releases

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run training pipeline
        run: |
          python run_training.py

      - name: Upload model artifact
        uses: actions/upload-artifact@v4
        with:
          name: trained-discount-model
          path: models/discount_model.joblib

      - name: Publish trained model to GitHub Releases
        uses: softprops/action-gh-release@v2
        with:
          tag_name: superstore-model-${{ github.run_number }}
          name: Superstore Model ${{ github.run_number }}
          files: models/discount_model.joblib
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
